.nj_modal {
  .modal {
    border-radius: 20px;
    width: 350px;
  }
  .title_wrapper {
    position: relative;
    .uk-modal-title {
      margin-top: 0;
      color: color(main-dark);
    }
    .close-btn {
      position: absolute;
      right: -15px;
      top: -15px;
      transition: 0.2s ease-in;
      padding: 5px;
    }
    .close-btn:hover {
      color: red;
      transition: 0.2s ease-in;
    }
    .close-btn:active {
      background: rgba(255, 0, 0, 0.481);
      border-radius: 25%;
      transition: 0.1s ease-in;
    }
  }
  .input-wrapper {
    width: 250px;
    vertical-align: bottom;
  }
  .input-wrapper .uk-input {
    height: 35px;
    padding: 0;
    vertical-align: bottom;
  }
  .btns-wrapper {
    .uk-button {
      margin: 15px 0 25px;
    }
  }
  .auth_wrapper {
    width: 250px;
    margin: 0 auto;
    button:is(:hover, :focus-visible) {
      filter: brightness(115%);
    }
    button:active {
      filter: brightness(85%);
    }
    .uk-button {
      background-color: color(main);
    }
    .auth_buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nj-default-btn {
      color: color(main);
    }
  }
}

.uk-notification-message {
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
}
.uk-notification-message svg {
  width: 30px;
}
.uk-notification-message span:last-child {
  color: color(main-dark);
  font-size: 15px;
}
.uk-notification-close {
  visibility: hidden;
}
@media (max-width: 1200px) {
  .nj_modal .input-wrapper .uk-input{
    font-size: 12px;
  }
}
