<!-- <div class="enter_modal nj_modal" id="first-view" uk-modal>
    <div class="modal uk-modal-dialog uk-margin-auto-vertical uk-modal-body uk-text-center">
      <div class="title_wrapper">
        <h2 class="uk-modal-title">Вам исполннилось 18 ?</h2>
      </div>
      <div class="uk-text-center auth_wrapper btns-wrapper">
        <button class="uk-button uk-button-primary" type="button">
          Да, мне есть 18 лет
        </button>
      </div>
    </div>
</div>
   -->
  <div class="enter_modal nj_modal" id="first-modal" uk-modal>
    <div class="modal uk-modal-dialog uk-margin-auto-vertical uk-modal-body uk-text-center">
      <div class="title_wrapper">
        <h2 class="uk-modal-title">Вам исполннилось 18 ?</h2>
      </div>
      <div class="uk-text-center auth_wrapper btns-wrapper">
        <button class="uk-button uk-button-primary" type="button">
          Да, мне есть 18 лет
        </button>
      </div>
    </div>
  </div>