<header class="header" id="header">
  <div class="container_inner">
    <div class="header_wrapp">
      <div class="logo_wrapp">
        <a href="#main_page">
          <img class="logo_main" src="../../img/logo.svg" alt="" />
        </a>
        <a href="#main_page">
          <img
            class="logo_inverse"
            src="../../img/logo-without-text.svg"
            alt=""/>
        </a>

      </div>

      <div class="btns-wrapper">
        {% include "components/sign-in-form.html" %} {% include
        "components/sidenav.html" %}
      </div>
    </div>
  </div>
</header>
