<button class="nj-default-btn" uk-toggle="target: #modal-registration-form">
  Регистрация
</button>

<div class="registration_modal nj_modal" id="modal-registration-form" uk-modal>
  <div class="modal uk-modal-dialog uk-modal-body uk-text-center">
    <div class="title_wrapper">
      <button
        class="uk-modal-close uk-icon uk-close close-btn"
        type="button"
        uk-close=""
        aria-label="Close"
      >
        <svg width="14" height="14" viewBox="0 0 14 14">
          <line
            fill="none"
            stroke="#000"
            stroke-width="1.1"
            x1="1"
            y1="1"
            x2="13"
            y2="13"
          ></line>
          <line
            fill="none"
            stroke="#000"
            stroke-width="1.1"
            x1="13"
            y1="1"
            x2="1"
            y2="13"
          ></line>
        </svg>
      </button>
      <h2 class="uk-modal-title">Регистрация</h2>
    </div>
    <form>
      <div class="uk-margin">
        <div class="uk-inline input-wrapper">
          <input
            class="uk-input"
            placeholder="Компания"
            type="text"
            uk-tooltip="Введите название компании"
          />
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline input-wrapper">
          <input
            class="uk-input"
            placeholder="Имя"
            type="text"
            uk-tooltip="Введите имя"
          />
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline input-wrapper">
          <input
            class="uk-input"
            placeholder="Фамилия"
            type="text"
            uk-tooltip="Введите фамилию"
          />
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline input-wrapper">
          <input
            class="uk-input"
            placeholder="Логин"
            type="text"
            uk-tooltip="Введите логин"
          />
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline input-wrapper">
          <input
            class="uk-input"
            placeholder="Пароль"
            type="text"
            uk-tooltip="Введите Пароль"
          />
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline input-wrapper">
          <input
            class="uk-input"
            placeholder="Проверочный пароль"
            type="text"
            uk-tooltip="Введите Пароль"
          />
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline input-wrapper">
          <input
            class="uk-input"
            placeholder="Телефон"
            type="text"
            uk-tooltip="Введите Телефон"
          />
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline input-wrapper">
          <input
            class="uk-input"
            placeholder="Еmail"
            type="text"
            uk-tooltip="Введите Пароль"
          />
        </div>
      </div>
    </form>
    <div class="uk-text-center auth_wrapper btns-wrapper">
      <button
        class="uk-button uk-button-primary"
        type="button"
        onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> <span>Ожидайте звонок менеджера</span>', status:'success', timeout: '5000' })"
      >
        Авторизоваться
      </button>
      <div class="auth_buttons">
        <button class="nj-default-btn" uk-toggle="target: #modal-enter">
          назад
        </button>
      </div>
    </div>
  </div>
</div>
