.about {
  background: linear-gradient(90deg, #222d38, #76a0cd);
  color: color(light);
  box-shadow: 0px 2px 2px 0px #76a0cd;

  .title {
    color: color(light);
    text-align: center;
    padding-bottom: 0;
  }
  .about_list {
    padding: 0;
    margin: 0;
  }
  .about_list p {
    font-size: rem(19px);
    font-weight: 500;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 450px){
  .about {
    .title{
      margin-bottom: 20px;
    }
    .about_list p{
      @include fontSize(15)
    }
  } 
}