.achievement {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, #ffff, #76a0cd, #ffff);
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    // animation: slide-in-out 5s linear infinite forwards;
    z-index: 1;
  }
  .title{
    text-align: center;
  }
}

.achievement .achievement_wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 55px;
}
.achievement .uk-list > :nth-child(n + 2) {
  padding-top: 15px;
  margin: 0;
}
.uk-list li:hover {
  transition: 0.6s ease;
  transform: scale(1);
}
.uk-list {
  cursor: none;
}
.uk-list li {
  transition: 0.6s ease;
  transform: scale(0.9);
  cursor: none;
}

.achievement .achievement_images {
  position: relative;
  width: 50%;
  min-height: 500px;
  overflow: hidden;
  background-image: url(../../img/logo-without-text-black.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.achievement .achievement_images img {
  transition: opacity 0.6s ease-in;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: $light;
  object-fit: contain;
}

.achievement .achievement_images img.visible {
  opacity: 1;
  transition: opacity 0.6s ease-in;
}

@media (max-width: 1024px){
  .achievement{
    .title{
      padding: 0 0 20px;
    }
    .achievement_list{
      flex: 1 1 auto
    }
    .achievement_list li{
      @include fontSize(18)
    }
    .achievement_images{
      display: none;
    }
  }
}
@media (max-width: 450px){
  .achievement{
    .achievement_list.uk-list.uk-list-disc{
      margin-bottom: 0;
    }
    .achievement_list li{
      @include fontSize(15)
    }
  }
  
}