.advateges {
  z-index: 1;
  .title {
    transform: translateY(100px);
  }

  [uk-cover]:where(img, video) {
    position: absolute;
    top: 50%;
    left: 0;
    width: 60%;
    height: 60%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    transform: translateY(-50%);
  }
  .uk-card-default {
    background-color: #fff;
    color: color("dark");
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    margin-right: 5px;
  }

  .uk-card-default .uk-card-title {
    color: color("main-dark");
    font-size: 20px;
  }

  .uk-list li {
    font-size: 16px;
  }

  .advantages_arrows {
    position: relative;
    transform: translateY(-100px);
    a {
      border: 1px solid color(main);
      border-radius: 50%;
      padding: rem(15px) rem(18px);
      display: flex;
      place-items: center;
      backdrop-filter: blur(7px);
      svg {

        width: rem(15px);
        height: rem(15px);
      }
    }
    a:first-child {
      margin-right: 100px;
    }
  }
}
@media (max-width: 1200px){
  .advateges{
    .title {
      transform: translateY(0px);
      padding-top: 20px;
      margin: 0;
    }
  }
  .advateges .uk-card-default{
    width: 100%;
  }
  .advateges .uk-position-cover{
    display: none;
  }
}
@media (max-width: 1024px){
  .advateges .uk-slideshow{
    height: auto;
  }
  .advateges [class*=uk-position-center-right] {
    top: calc(40% - var(--uk-position-margin-offset));
    --uk-position-translate-y: -50%;
    transform: translate(0, var(--uk-position-translate-y));
  }
  .advateges .advantages_arrows {
    position: relative;
    transform: translateY(-30px);
  }
}
@media (max-width: 550px){
  .advateges .uk-slideshow{
    height: 550px;
  }
  .advateges .uk-card-body {
    padding: 5px 10px 10px;
  }
  .advateges .advantages_arrows {
    position: relative;
    transform: translateY(-82px);
  }

}
@media (max-width: 450px){
  .advateges{
    padding-top: rem(40px);
  }
  .advateges .title{
    padding: 0 0 20px;
  }
  .advateges .uk-slideshow{
    height: 630px;
  }
  .advateges .uk-slideshow ul{
    height: 100%;
  }
  .advateges [class*=uk-position-center-right] {
    top: calc(45% - var(--uk-position-margin-offset));
    --uk-position-translate-y: -50%;
    transform: translate(0, var(--uk-position-translate-y));
  }
  .advateges .advantages_arrows {
    position: relative;
    transform: translateY(-62px);
  }
  .advateges .uk-card-default .uk-card-title {
    font-weight: 600;
  }
  .advateges .uk-list li {
    padding-left: 0;
    @include fontSize(14)
  }
}