.footer {
  padding: 50px 0 20px;
  background: linear-gradient(90deg, #222d38, #76a0cd);
  position: relative;
  display: flex;
  align-items: center;

  .container{
    width: 100%;
  }

  .footer_inner {
    background: color(light);
    backdrop-filter: blur(50px);
    border: 0.1px solid #222d3882;
    padding: 2rem;
    margin: 1rem 0;
  }

  .title_wrapp {
    display: flex;
    align-items: center;
    position: relative;
    height: 266px;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      background-image: url("/img/big-logo.svg");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
      width: 280px;
      height: 102%;
    }
    .title {
      text-align: center;
      padding: 0 0 0 57px;
      margin: 0;
      position: relative;

    }
    .title span {
      padding-left: 16px;
      @include fontSize(28);
      opacity: .7;
      position: absolute;
      right: -120%;
      top: 2%;
    }
  }
  a:hover {
    text-decoration: none;
  }
  .w-70 {
    width: 70%;
  }
  .w-25{
    width: 30%;
    a {
        text-decoration: none;
        color: color(main-dark);
        font-weight: 400;
        transition: 0.3s ease-in;
        border-bottom: 1px solid transparent;
        margin-bottom: 0.5rem;
        display: inline-flex;
      }
      a:hover {
        color: color("main");
        text-decoration: underline;
        transition: 0.3s ease-in;
      }
  }

  .contact{
    a{
        align-items: center;
        gap: 10px;
        svg{
            flex-basis: 32px;
        }
    }
    .c-nav-tool_list{
        li:last-child{
            svg{
                flex-basis: 50px;
            }
        }
    }
  }
  .social{
    &.w-25{
        width: 40%;
        margin-right: 50px;
    }
    .flex{
        justify-content: space-between;
    }
  }
  .nj_totop{
    &.w-25{
        width: fit-content;

    }
    svg{
      margin: 0;
    }
    a{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }
    &:hover{
        a{
            background-color: #0000007b;
            
        }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  button {
    appearance: none;
    border: 0;
    background: transparent;
  }
  .flex {
    display: flex;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 400px);
    border-bottom: 1px solid color(main-dark);
  }

  input {
    padding: 0.75rem 0 0.2rem;
    border: none;
    background: none;
    transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 0;
    width: 100%;
    font-size: 1.05rem;
    font-weight: 500;
    opacity: .5;
  }
  input:focus {
    outline: none;
    color: color(main);
    opacity: 1;

  }
  input::placeholder {
    color: color(main-dark);
    font-weight: 400;
  }
  svg{
    width: 32px;
    height: 32px;
    margin: 0.5rem 0.5rem 0.5rem 0;
    path{
        width: 32px;
        height: 32px;
    }
  }
}
@media (max-width: 1650px){
  .footer .title_wrapp .title{
    text-align: left;
  }

  .footer .title_wrapp .title span{
    display: block;
  }
}
@media (max-width: 1250px){
  .footer .title_wrapp .title span{
    @include fontSize(24px);
    position: static;
  }
  .footer .w-70 {
    width: 40%;
  }
  .footer .w-25 {
    width: 25%;
    ul li{
      @include fontSize(16)
    }
  }
}
@media (max-width: 675px){
  .footer{
    .layout{
      display: flex;
      flex-direction: column;
      padding: 20px 20px 0;
    }
    .title_wrapp{
      height: 100px;
      &::before{
        width: 25%;
      }
    }
    .footer_inner{
      padding: 0;
    }
    .c-nav-tool_item a{
      width: 100%; 
      text-wrap: balance
    }
    .c-nav-tool_list{
      margin: 10px 0 20px 0;
      opacity: 0.78;
      li:last-child{
          svg{
              flex-basis: 32px !important;
          }
      }
    }
    .layout:last-child{
      padding: 0 20px 0;
      input{
        @include fontSize(13)
      }
      .w-25{
        width: 100%;
      }
    }
  }
  .footer .social .flex {
    justify-content: space-between;
    margin: 0;  
  }
  .footer .nj_totop a{
    margin: auto;
  }
  .footer .w-70,
  .footer .w-25 {
    width: 100%;
  }
  .footer .contact a {
    gap: 0;
    margin: 0;
  }
  .footer .title_wrapp .title{
    position: absolute;
    top: 0;
    padding-left: 30%;
    letter-spacing: 2px;
    width: 100%;
    span{
      position: relative;
      width: 100vw;
      bottom: -30%;
      @include fontSize(20, 16);
      padding: 0;
    }
  }
  .footer svg {
    height: 25px;
    width: 25px;
  }
  .footer_copyright p{
    @include fontSize(12);
    text-align: center;
  }
}

@media (max-width: 350px){
  .footer{
    .layout{
      padding: 15px 15px 0;
    }
    .c-nav-tool_list{
      margin: 8px 0 15px 0;
      li:last-child{
          svg{
              flex-basis: 42px !important;
          }
      }
    }
    .layout:last-child{
      padding: 0 10px 0;
      input{
        @include fontSize(12)
      }
      .w-25{
        width: 100%;
      }
    }
    .title_wrapp{
      height: 80px;
    }
  }
  .footer .title_wrapp .title{
    span{
      @include fontSize(17, 13);
    }
  }
  .footer svg {
    height: 20px;
    width: 20px;
  }
  .footer_copyright p{
    @include fontSize(12);
  }
}

@media (min-width: 676px) {
  .footer{
    .layout {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 2rem;
      }

    form {
      position: relative;
    }
    .c-2 {
      margin-top: 3.5rem;
    }
    .footer_copyright {
      color: color(light);
      margin: 0;
      text-align: center;
      p {
        margin: 0;
      }
    }
  }
}

