.header {
  z-index: 98;
  width: 100%;
  height: auto;
  padding: 20px 0;
  max-width: 100%;
  margin: 0 auto;
  transition: top 0.3s linear;
  position: fixed;
  &.inverse {
    background: linear-gradient(90deg, #222d38ef, #76a0cd92);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    .logo_wrapp {
      .logo_inverse {
        display: block;
      }
      .logo_main {
        display: none;
      }
    }
  }
  .header_wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 77px;
  }
  .logo_wrapp {
    width: 160px;
    img {
      height: 38px;
    }
    .logo_inverse {
      display: none;
    }
    .logo_main {
      display: block;
    }
  }
  .btns-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
