.main_page {
  height: 100dvh;
  width: 100%;
  h1 {
    color: color(light);
    margin: 0;
  }

  .video_inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 0;
    
    &::after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      background-color: #76a0cda6;
    }
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: fixed;
      background-attachment: fixed;
    }
    img{
      display: none;
    }
  }

  .video_inner video,
  .video_inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    background-attachment: fixed;
  }

  .main_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main_banner {
    padding-top: rem(20px);
    position: relative;
    z-index: 1;
  }
  .main_title_wrapper {
    display: flex;
    gap: rem(24px);
    height: rem(150px);
    padding-left: rem(77px);
    .main_title {
      position: relative;
      z-index: 1;
      backdrop-filter: blur(3px);
      padding: 0 10px;
    }
    .main_line {
      height: 100%;
      width: rem(6px);
      background: color("light");
      position: relative;
      z-index: 1;
    }
  }

  .main_footer_wrapper {
    position: relative;
    z-index: 1;
    padding-left: rem(77px);

    .main_list {
      padding: 0;
      margin: 0;
      display: flex;
      gap: rem(69px);
      li {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: rem(24px);
          height: rem(24px);
          top: 0;
          left: 0;
          background-image: url("/img/ellipse.svg");
        }
      }
      li {
        padding: 0 0 0 40px;
      }
      li p {
        color: color("light");
        margin: -5px 0 0;
        backdrop-filter: blur(3px);
        padding: 0 10px;
      }
    }
  }

  // @keyframes drawn {
  //   0% {
  //     stroke-dashoffset: 3500;
  //   }
  //   100% {
  //     stroke-dashoffset: 0;
  //   }
  // }
  
  .drawn-path {
    stroke: white;
    stroke-width: 1.5;
  }
  
}
@media (max-width: 1200px) {
  .main_page{
    padding-top: 100px;
    .main_wrapper{
      flex-direction: column;
    }
    .main_banner{
      width: 100%;
    }
    .main_banner svg{
      height: 500px;
      display: block;
      margin-left: auto;
      transform: translateX(5%);
    }
    .main_title_block{
      width: 100%;
    }
    .main_title_wrapper{
      height: rem(125px);
      padding-left: 20px;
    }
    .main_title{
      @include fontSize(36);
    }
  }
  .main_page .main_footer_wrapper{
    padding-top: 20px;
    padding-left: 25px;
    .main_list{
      gap: 20px;
      flex-wrap: wrap;
      li{
        padding: 0 0 0 22px;
      }
      p{
        width: fit-content;
      }
    }
  }
}
@media (max-width: 450px) {
  .main_page{
    padding: 120px 0 30px;
    height: 85dvh;
    .main_banner{
      padding-top: 0;
    }
    .video_inner{
      video{
        display: none;
      }
      img{
        display: block;
      }
    }
  }

  .main_page .main_title{
    @include fontSize(32);
  }
  .main_page .main_banner svg{
    height: 370px;
    transform: translateX(10%);
  }
  .main_page .main_title_wrapper{
    gap: 15px;
  }
  .main_page .main_footer_wrapper{
    .main_list{
      flex-direction: column;
      gap: 20px;
      li{
        padding: 0 0 0 22px;
      }
    }
  }
}
@media (max-width: 350px) {
  .main_page .main_title_wrapper{
    gap: 5px;
    height: rem(80px);
  }
  .main_page .main_title{
    @include fontSize(24);
  }
}