.more_distribution {
  .title {
    padding-bottom: 0;
  }
  .more_distribution_group {
    display: grid;
    grid-template-columns: 55% 40%;
    gap: rem(50px);
    align-items: start;
  }
  .more_distribution_group_text {
    p {
      color: color(main-dark);
    }
  }
}
@media (max-width: 1200px){
  .more_distribution {
    .title {
      padding-bottom: 40px;
    }
    .more_distribution_group {
      grid-template-columns: 100%;
      gap: rem(25px);
    }
    .more_distribution_list li{
      @include fontSize(15)      
    }
    .more_distribution_group_gallery{
      @include max-width-margin(550px, 100%, auto)
    }
  }
}