.distribution_offer {
  &.pd-regular {
    padding: 0;
  }
  .title_wrapp {
    position: relative;
    padding: 65px 0;
    text-wrap: wrap;
    text-align: center;
    background-image: url("../../img/offer/offer_header.png");
    &::after {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: color(main-dark);
      opacity: 0.8;
      z-index: 0;
    }
    .title {
      color: color(light);
      position: relative;
      z-index: 1;
      width: 30%;
      margin: auto;
    }
  }
  .list {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: rem(35px);
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 2px;
      background: linear-gradient(90deg, #ffff, #76a0cd, #ffff);
      bottom: -30%;
      transform: translateX(-50%);
      left: 50%;
      // animation: slide-in-out 5s linear infinite forwards;
      z-index: 1;
    }
    .title_second{
      display: none;
    }
  }
  .list li {
    flex-basis: rem(300px);
    text-wrap: balance;
    text-align: center;
    transform: translateY(-30%);
  }
  .list .svg_wrapp {
    background: color(light);
    border-radius: 50%;
    padding: 20px;
    max-width: fit-content;
    margin: auto;
  }
  .list svg {
    width: 80px;
    height: 80px;
  }
  .list p {
    margin: 0 auto;
    height: 50px;
    max-width: 90%;
    text-wrap: pretty
  }
  .list-description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(0px) rem(40px);
    padding: 0;
    margin: rem(120px) 0 rem(40px);
    li {
      display: flex;
      align-items: baseline;
      gap: 10px;
      max-width: 350px;
    }
    li .svg_wrapp {
      flex: 0 0 24px;
    }
    li svg {
      width: 100%;
    }
  }
}
@media (max-width: 1200px) {
  .distribution_offer{
    .list-description p,
    .list p {
      @include fontSize(14);
    }
  }
}
@media (max-width: 1200px) {
  .distribution_offer{
    .distribution_offer_header{
      display: grid;
      grid-template-columns: 30% 70%;
      position: relative;
      overflow: hidden;
    }
    .title_wrapp{
      position: relative;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: none;
      background: gray;
      &::after{
        content: none;
      }
      .title{
        display: none;
      }

      .mobile_img{
        position: absolute;
        content: "";
        background-image: url("../../img/offer/offer_header.png");
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        &::after{
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: color(main-dark);
          opacity: 0.8;
        }
      }
    }
    .list {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      position: relative;
      margin-left: -60px;
      .title_second{
        display: block;
        width: 80%;
        margin-left: auto;
        padding-bottom: 50px;
        text-align: center;
      }
      li{
        display: flex;
        align-items: baseline;
        flex-basis: fit-content;
        position: relative;
        z-index: 1;
      }
      p{
        height: auto;
        margin: auto;
        text-align: left;
      }
    }
    .list-description{
      margin: 2.5rem 0 2.5rem;
      gap: 0 1.5rem;
    }
  }
}
@media (max-width: 650px){
  .distribution_offer{
    .list-description{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 450px){
  .distribution_offer{
    .distribution_offer_header{
      grid-template-columns: 20% 80%;

      .title_wrapp{
        width: 75%;
      }
    }
    .list{
      .title_second{
        padding: 20px;
        margin-bottom: 0;
      }
    }
    .list-description{
      grid-template-columns: 100%;
    }
  }
  .distribution_offer .list svg{
    width: 40px;
    height: 40px;
  }
}